<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="absenceClass.Properties.Settings.IstaConnectionString"
            connectionString="Data Source=DESKTOP-QV3FUH3\SQLEXPRESS;Initial Catalog=Ista;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>